 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body { 
        background-color: black;
    }
    
      
    h2{
        color: #d3d3d3b4;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-align: center;
        display: flex;
        
        flex-direction: column;
        margin: 20px;
    }
    h1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: start;
        padding: 10px; 
        color: #e61111f1;
    }
    ul {
        display: flex;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
        max-width: 100%;
        gap: 15px;
    }
    .img {
    width: 130px;
    margin-top: 40px;
    border: 3px solid #cfcbcb00;
    transition: all .5s ease;
 } 
 .img:hover {
    transform: scale(1.025);
 }
    p{
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
    }
  
    button {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto; 
    width: fit-content; 
    padding: 10px 20px;
    font-size: 18px;    
    color: #e4dede;
    background-color: transparent;
    border: 1px solid #e4dede; 
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
    }
    button:hover {
        transform: scale(1.025);
}
   

    



 
