* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

body {
    background-color: #f6f6f6; 
    width: 100%; 
    height: 100%; 
}
header{
    background-color: #ffcd00;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
}
button{
    height: 36px;
    width: 44px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    
}
li{
    padding: 24px;
    background-color: #ffffff;
    height: auto; 
    list-style: none;
    display: flex;
    width: 100%;
                  
    
    
    
}
li div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    
}
.cartul{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;    
    background-color: #daaf00;
    max-height: 400px;
    overflow: auto;
    list-style: none;
    border-top: 5px solid #daaf00;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    gap: 10px;
   
}
.cartul li{
    background-color: #c49d00;
    height: 200px;
}



 .imagens_pequenas li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    
}
.imagens_pequenas img:hover{
     transform: scale(1.6);  
     border-color: yellow;
     border: 1px solid yellow;
}
.imagens_pequenas img {
    height: 45px;
    border: 1px solid #3837371c;
    transition: all 1s ease;
    aspect-ratio:  1/1;
    
}
.imagemgrande  {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 100px; 
    margin-right: 100px;
    transition: all 1s ease;   
}
.imagemgrande:hover{
    transform: scale(1.25); 
    border-color: yellow;
    border: 1px solid yellow;
}
.imagemgrandetv:hover{
    transform: scale(1.25); 
    border-color: yellow;
    border: 1px solid yellow;
}   
.imagemgrandetv{
    height: 200px; 
    margin-right: 100px;
    margin-left: 100px;
    transition: all 1s ease;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.carrinhobtn img{
    height: 60px;
    width: 70px;
    align-content: center;
    background-color: black;
    border-radius: 3px;
    margin-right: -10px;
    margin-bottom: -16px;
    margin-top: -16px;
    margin-left: -16px;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.carrinhobtn img:hover{
    transform: scale(1.6);
}

.destaque{
    color: white;
    background-color: #1990df;
    border: 1px solid #1990df;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.titulo{
    border-bottom: 1px solid #bebdbdab;
    color: #717171;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.quantidade{
    font-size: 25px;
    color: #22b14c;
    font-weight: bolder;
}
.preco{
    font-size: 35px;
    color: #22b14c;
    font-weight: bolder;
}
.valoravista{
    color: #22b14c;
    font-weight: 600;
}
.botaotexto{
    width: auto; 
    padding: 10px 20px; 
    border-radius: 4px;
    max-height: none;
    background-color: #22b14c;
    color: white;
    text-align: center; 
    white-space: nowrap; 
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.seta{
    font-size: 18px;
    padding-bottom: 4px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
}
.botaofav{
  height: 30px;
  width: fit-content;
  display: flex;
  justify-content: center;
 

}
.imgcart img{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 50px;
    border: 1px solid black;
    
    
}
.produtoscart{
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}
.textocart{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    
}
.valorcart{
    font-size: 20px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    width: 50%;
}
.parcelacart{
    font-size: 20px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    width: 50%;
    
}
.btnremover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 20%;
    background-color: red;
    width: 50px;
    padding: 10px;      /* como padronizar tudo? */
}
.subtotal{
  display: flex; 
  flex-direction: column; 
  justify-content: end;
  align-items: end;
  gap: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.subtotaltexto{
    border-bottom: 0.5px solid black;
    width: 100%;
    justify-content: end;
    display: flex;
}
.mensagem-temporaria {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1990df;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .carrinhobtn {
    position: relative; 
}
.notificacao {
    position: absolute; 
    bottom: -35px; 
    left: -25px;
    background-color: red;
    height: 35px;
    width: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

