* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}
header{
    background-color: #ffcd00;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
}
button{
    height: 36px;
    width: 44px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    
}
li{
    padding: 24px;
    background-color: #ffffff;
    height: 250px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
li div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.cartul{
    position: absolute;
    top: 120px;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: #ffcd00;
    max-height: 400px;
    overflow: auto;
    list-style: none;
    border-top: 5px solid #daaf00;
}
 .imagens_pequenas li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    
}
.imagens_pequenas img:hover{
     transform: scale(1.6);  /* -- transformar em amarelo a borda no hover, como? */
     border-color: yellow;
     border: 1px solid yellow;
}
.imagens_pequenas img {
    height: 45px;
    border: 1px solid #3837371c;
    transition: all 1s ease;
    

}
.imagemgrande {
    height: 200px;
    margin-right: 750px; /* como fazer uma possível mudança para não interferir em outras resoluçoes? */
    transition: all 1s ease;   
    
}

.imagemgrande:hover{
    transform: scale(1.25); 
    border-color: yellow;
    border: 1px solid yellow;
}
.imagemgrandetv{
    height: 200px; 
    margin-right: 750px; 
    transition: all 1s ease;
       
   
   
}
.imagemgrandetv:hover{
    transform: scale(1.25); 
    border-color: yellow;
    border: 1px solid yellow;
}
.logo {
    height: 54px;
}
